.breadcrumbs
    margin-bottom: 3.4rem
    font-weight: 500
    font-size: 1.6rem
    letter-spacing: .18px
    @media (max-width: 560px)
        font-size: 1.4rem
        margin-bottom: 2.4rem
    &__list
        display: flex
        align-items: center
        gap: .7rem
        @media (max-width: 560px)
            display: flex
            flex-direction: column
            gap: .4rem
    &__arrow
        @media (max-width: 560px)
            transform: rotate(90deg)
    &__link
        text-decoration: none
        color: $black
    &__current
        color: $medium-gray
        letter-spacing: .16px
        @media (max-width: 560px)
            text-align: center
